name: Initiate workflow

on:
  push:
    branches:
      - main
    tags: "**"
  pull_request:

permissions:
  id-token: write
  contents: write

jobs:
  run_public_website_tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: "public_website/.nvmrc"
      - uses: pass-culture/common-workflows/actions/setup-safe-chain@safe-chain-setup/v1.1.0
      - name: Install global dependencies
        run: yarn install
      - name: Install public_website dependencies
        run: cd public_website && yarn install
      - name: Lint public_website
        run: cd public_website && yarn test:lint
      - name: Test typescript
        run: cd public_website && yarn test:types
      - name: Test public_website
        run: cd public_website && yarn test
        
  run_content_management_system_tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: "content_management_system/.nvmrc"
      - uses: pass-culture/common-workflows/actions/setup-safe-chain@safe-chain-setup/v1.1.0
      - name: Install global dependencies
        run: yarn install
      - name: Install content_management_system dependencies
        run: cd content_management_system && yarn install
      - name: Lint content_management_system
        run: cd content_management_system && yarn test:lint
      - name: Test typescript
        run: cd content_management_system && yarn test:types

  build-image-cms:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Authentification to Google to get secret
      uses: 'google-github-actions/auth@v2'
      with:
        workload_identity_provider: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
    - name: Get Secret
      id: 'secrets'
      uses: 'google-github-actions/get-secretmanager-secrets@v2'
      with:
        secrets: |-
          COSIGN_KMS_KEY:passculture-metier-ehp/cosign_kms_key
    - name: build image
      id: 'build'
      uses: pass-culture/common-workflows/actions/build-docker-image@main
      with:
        image: pc-institutional 
        push: true 
        context: content_management_system
        gcp_workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
        artifact_registry_service_account: ${{ secrets.ARTIFACT_REGISTRY_SERVICE_ACCOUNT }}
        cosign_kms_key: ${{ steps.secrets.outputs.COSIGN_KMS_KEY }}

  build-image-public-site-preview:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Authentification to Google to get secret
      uses: 'google-github-actions/auth@v2'
      with:
        workload_identity_provider: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}
    - name: Get Secret
      id: 'secrets'
      uses: 'google-github-actions/get-secretmanager-secrets@v2'
      with:
        secrets: |-
          COSIGN_KMS_KEY:passculture-metier-ehp/cosign_kms_key
    - name: build image
      id: 'build'
      uses: pass-culture/common-workflows/actions/build-docker-image@main
      with:
        image: pc-institutional-public-site-preview
        push: true 
        context: public_website
        gcp_workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
        artifact_registry_service_account: ${{ secrets.ARTIFACT_REGISTRY_SERVICE_ACCOUNT }}
        cosign_kms_key: ${{ steps.secrets.outputs.COSIGN_KMS_KEY }}

