name: Check code quality with SonarCloud

on:
  push:
    branches: main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-22.04
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "OpenID Connect Authentication"
        uses: "google-github-actions/auth@v2"
        with:
          workload_identity_provider: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}

      - uses: pass-culture/common-workflows/actions/setup-safe-chain@9a5f036470496551365fe9c26afbd4febe20a8cb

      - name: Install global dependencies
        run: yarn install

      - name: Install public_website dependencies
        run: cd public_website && yarn install

      - name: Get public_website coverage
        run: cd public_website && yarn test:coverage

      - name: Get Secret
        id: "sonar_secrets"
        uses: "google-github-actions/get-secretmanager-secrets@v2"
        with:
          secrets: |-
            SONAR_TOKEN:passculture-metier-ehp/passculture-institutional-sonar-token

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ steps.sonar_secrets.outputs.SONAR_TOKEN }}
