name: Check PR title format

on:
  pull_request:
    branches: main
    types:
      - opened
      - edited
      - synchronize

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-22.04
    steps:
      - uses: Slashgear/action-check-pr-title@v4.3.0
        with:
          regexp: '^(feat|fix|build|chore|ci|docs|style|refactor|perf|test)(\([^\)]+\))?(\!)?\: .+(?:\n\n(.+))?(\n\n(?:[^\n]+\s*:\s*[^\n]+\n)+)?$'
