name: Check no dead code is introduced

on:
  pull_request:
    branches: main
    types:
      - opened
      - edited
      - synchronize

jobs:
  yarn-ts-prune:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: pass-culture/common-workflows/actions/setup-safe-chain@9a5f036470496551365fe9c26afbd4febe20a8cb
      - name: Install dependencies
        run: yarn setup
      - name: Dead code scan
        run: ./scripts/check_dead_code_introduced.sh
