on: 
  workflow_dispatch:
    
name: Deploy production public website

jobs:
  deploy-public-site-production:
    uses: ./.github/workflows/reusable_public_site_deploy.yml
    with:
      environment: production
      teleport_version: 13.4.4
      teleport_proxy: teleport.cls.passculture.team:443
      teleport_kubernetes_cluster: passculture-cls-metier-prod
      workload_identity_provider_secret_name: passculture-cls-metier-ehp/gcp_cls_metier_prod_workload_identity_provider 
      cms_url: https://siteinstit-cms.passculture.team
      backend_url: https://backend.passculture.app
      secrets_project_id: passculture-cls-metier-ehp
    secrets:
      SECRETS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_CLS_EHP_WORKLOAD_IDENTITY_PROVIDER }}
      SECRETS_SERVICE_ACCOUNT: ${{ secrets.GCP_CLS_EHP_SERVICE_ACCOUNT }}
      
