on:
  workflow_dispatch:
  push:
    branches:
      - main

name: Deploy testing CMS and public website

jobs:
  deploy-cms-testing:
    uses: ./.github/workflows/reusable_cms_deploy.yml
    with:
      environment: testing
      workload_identity_provider_secret_name: passculture-metier-ehp/gcp_metier_ehp_workload_identity_provider
      teleport_version: 13.4.4
      teleport_proxy: teleport.cls-ehp.passculture.team:443
      teleport_kubernetes_cluster: passculture-cls-metier-ehp
      image_tag: ${{ github.sha }}
      secrets_project_id: passculture-cls-metier-ehp
    secrets:
      SECRETS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
      SECRETS_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}

  deploy-public-site-testing:
    needs:
      - deploy-cms-testing
    uses: ./.github/workflows/reusable_public_site_deploy.yml
    with:
      environment: testing
      workload_identity_provider_secret_name: passculture-metier-ehp/gcp_metier_ehp_workload_identity_provider
      cms_url: https://siteinstit-cms.testing.passculture.team
      backend_url: https://backend.testing.passculture.team
      secrets_project_id: passculture-cls-metier-ehp
    secrets:
      SECRETS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_EHP_WORKLOAD_IDENTITY_PROVIDER }}
      SECRETS_SERVICE_ACCOUNT: ${{ secrets.GCP_EHP_SERVICE_ACCOUNT }}

