name: Deploy public site
on:
  workflow_call:
    inputs:
      project_id:
        type: string
        description: GCP Project id to use
        required: true
      environment:
        type: string
        description: Environment to deploy
        required: true
      image_tag:
        type: string
        description: Image tag to deploy
        required: true
      workload_identity_provider_secret_name:
        type: string
        description: Secret name to retrieve the workload identity provider
        required: true
      cluster_scope:
        type: string
        required: true
      cluster_environment:
        type: string
        required: true
      argocd_version:
        type: string
        required: false
        default: v2.8.4
      secrets_project_id:
        type: string
        description: GCP project to retrieve secrets from
        required: true
    secrets:
      SECRETS_WORKLOAD_IDENTITY_PROVIDER:
        required: true
      SECRETS_SERVICE_ACCOUNT:
        required: true
      PASSCULTURE_GITHUB_ACTION_APP_ID:
        required: true
        description: "Github Application ID to use to clone other repos"
      PASSCULTURE_GITHUB_ACTION_APP_PRIVATE_KEY:
        required: true
        description: "Private key for the Github application used to clone other repos"

permissions:
  id-token: write
  contents: read

jobs:
  deploy-cms:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v2"
        with:
          workload_identity_provider: ${{ secrets.SECRETS_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SECRETS_SERVICE_ACCOUNT }}

      - name: Get Secret
        id: "secrets"
        uses: "google-github-actions/get-secretmanager-secrets@v2"
        with:
          secrets: |-
            INSTIT_SITE_DEPLOY_SA:${{ inputs.secrets_project_id }}/passculture-institutional_${{ inputs.environment }}_deploy-service-account
            GCP_WORKLOAD_IDENTITY_PROVIDER:${{ inputs.workload_identity_provider_secret_name }}

      - name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@v2"
        id: google-auth
        with:
          create_credentials_file: true
          token_format: "access_token"
          workload_identity_provider: ${{ steps.secrets.outputs.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ steps.secrets.outputs.INSTIT_SITE_DEPLOY_SA }}

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v2"

      - name: "Docker login"
        id: "docker-login"
        uses: "docker/login-action@v3"
        with:
          registry: "europe-west1-docker.pkg.dev"
          username: "oauth2accesstoken"
          password: "${{ steps.google-auth.outputs.access_token }}"

      - name: Authenticate through github app ghactionci
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        id: github-token
        with:
          app-id: ${{ secrets.PASSCULTURE_GITHUB_ACTION_APP_ID }}
          private-key: ${{ secrets.PASSCULTURE_GITHUB_ACTION_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          # Liste des repositories à cloner
          repositories: |
            infrastructure
            pass-culture-institutional
            rendered-manifests
            pc-render-manifests
            pc-connect
            pc-firestore-cli
          permission-contents: write

      - name: "Setup helmfile"
        uses: mamezou-tech/setup-helmfile@v2.1.0
        with:
          helmfile-version: "v1.1.3"

      # Executes helmfile templating and push results to render-manifests repository
      - name: "Setup pc-render-manifests"
        uses: pass-culture/common-workflows/actions/setup-pc-render-manifests@setup-pc-render-manifests/v0.1.0
        with:
          token: ${{ steps.github-token.outputs.token }}
          version: "v0.7.1"

      - name: "Generate and push rendered manifests"
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ steps.github-token.outputs.token }}
          ENVIRONMENT: ${{ inputs.environment }}
          IMAGE_TAG: ${{ inputs.image_tag }}
        run: |
          pc-render-manifests render \
            -a site-instit \
            -e "$ENVIRONMENT" \
            --sourceRepoURL https://github.com/pass-culture/infrastructure.git \
            --sourcePath helm/site-instit \
            --sourceRepoRef main \
            --additionalArg "--set deployment.image.tag=$IMAGE_TAG" \
            --commitMsg "sit-instit($ENVIRONMENT) : manifests for app_version=$IMAGE_TAG" \
            --clean=false \
            --push \
            --silent

      - uses: pass-culture/common-workflows/actions/pc-k8s-connect@main
        with:
          cluster_scope: ${{ inputs.cluster_scope }}
          cluster_environment: ${{ inputs.cluster_environment }}
          api_token_github: ${{ steps.github-token.outputs.token }}

      - name: Sync argoCD application
        uses: pass-culture/common-workflows/actions/argocd-sync@argocd-sync/v0.5.0
        with:
          app_name: site-instit-${{ inputs.environment }}

  notification:
    name: "Notification"
    runs-on: ubuntu-22.04
    needs: [deploy-cms]
    if: ${{ always() }}
    steps:
      - name: "Authentification to Google"
        uses: "google-github-actions/auth@v2"
        with:
          workload_identity_provider: ${{ secrets.SECRETS_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SECRETS_SERVICE_ACCOUNT }}
      - name: "Get Secret"
        id: "secrets"
        uses: "google-github-actions/get-secretmanager-secrets@v2"
        with:
          secrets: |-
            SLACK_BOT_TOKEN:${{ inputs.secrets_project_id }}/passculture-ci-slack-bot-token
      - name: "Post to a Slack channel on success"
        if: ${{ always() && contains(needs.deploy-cms.result, 'success') }}
        uses: slackapi/slack-github-action@v1.25.0
        with:
          # channel #alertes-deploiement-site-instit
          channel-id: "C06EKUL552T"
          payload: |
            {
              "attachments": [
                {
                  "mrkdwn_in": ["text"],
                  "color": "#36A64F",
                  "author_name": "${{github.actor}}",
                  "author_link": "https://github.com/${{github.actor}}",
                  "author_icon": "https://github.com/${{github.actor}}.png",
                  "title": "CMS Site instit",
                  "title_link": "https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}",
                  "text": "Le CMS du site instit vient d'être déployé en ${{ inputs.environment }} :white_check_mark:"
                }
              ],
              "unfurl_links": false,
              "unfurl_media": false
            }
        env:
          SLACK_BOT_TOKEN: ${{ steps.secrets.outputs.SLACK_BOT_TOKEN }}
      - name: "Post to a Slack channel on failure"
        if: ${{ always() && contains(needs.deploy-cms.result, 'failure') }}
        uses: slackapi/slack-github-action@v1.25.0
        with:
          # channel #alertes-deploiement-site-instit
          channel-id: "C06EKUL552T"
          payload: |
            {
              "attachments": [
                {
                  "mrkdwn_in": ["text"],
                  "color": "#A30002",
                  "author_name": "${{github.actor}}",
                  "author_link": "https://github.com/${{github.actor}}",
                  "author_icon": "https://github.com/${{github.actor}}.png",
                  "title": "CMS Site Instit",
                  "title_link": "https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}",
                  "text": "Le déploiement du CMS site instit vient d'échouer en ${{ inputs.environment }} :boom:"
                }
              ],
              "unfurl_links": false,
              "unfurl_media": false
            }
        env:
          SLACK_BOT_TOKEN: ${{ steps.secrets.outputs.SLACK_BOT_TOKEN }}
